<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="Taiwan data stories is a collaboration between Daisy and Julia, the main goal being using data-driven insights and multimedia graphics to tell stories about Taiwan by using the web as a medium">
  <meta name="keywords"
    content="Storytelling, data visualization, Taiwan, collaboration, culture, data, 台灣, 數字玩, Taiwan data viz, data viz, data storytelling, data stories">
  <meta name="author" content="Julia Janicki">
  <title>Taiwan Data Stories</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/blog.css" rel="stylesheet">
  <style>
  </style>
</head>

<body>

  <div id="topNav">
    <p>We have a brand new Etsy store now! <span id="etsy_tagline">Come visit and support our project!</span> <button
        class="etsy-button"><a target="_blank" href="https://www.etsy.com/shop/TaiwanDataStories">Visit
          store</a></button></p>
  </div>


