        <footer id="pageFooter">
        <div class="row">
            <div class="col-xs-12 col-md-4">
            </div>
            <div class="col-xs-12 col-md-4 text-center">
            <p class="inline" id="copy">&copy; Taiwan Data Stories 2022 &nbsp;&nbsp;</p>
            <a id="instagram" target="_blank" href="https://www.instagram.com/taiwandatastories/">
                <i class="fa fa-fw fa-instagram"></i>
            </a>
            <a id="github" target="_blank" href="https://github.com/TaiwanDataStories/">
                <i class="fa fa-fw fa-github"></i>
            </a>
            </div>
            <div class="col-xs-12 col-md-4">
            </div>
        </div>
    </footer>
  </div>
</body>
</html>